@page "Create"
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<CreateModel> localizer
@inject IHtmlLocalizer<CreateModel> htmlLocalizer
@model CreateModel
@{
    ViewData["Title"] = "CAS";
    if (HttpContext.Request.Query["culture"] == "fr")
    {
        CultureInfo.CurrentCulture = new CultureInfo("fr");
        CultureInfo.CurrentUICulture = new CultureInfo("fr");
        Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(new RequestCulture(CultureInfo.CurrentCulture)),
            new CookieOptions { Expires = DateTimeOffset.UtcNow.AddYears(1) }
        );
    }
    else if (HttpContext.Request.Query["culture"] == "en")
    {
        CultureInfo.CurrentCulture = new CultureInfo("en");
        CultureInfo.CurrentUICulture = new CultureInfo("en");
        Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(new RequestCulture(CultureInfo.CurrentCulture)),
            new CookieOptions { Expires = DateTimeOffset.UtcNow.AddYears(1) }
        );
    }

    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
    ViewData["Create"] = localizer["Create"];
    ViewData["Select"] = localizer["Select"];
    ViewData["Home"] = localizer["Home"];
}

<section>
    <div class="text-center"><h1>CAACS</h1></div> <div class="text-center"><h4>Court of Appeal Annual Case Statistics Data Entry Form</h4></div>
    <div class="wb-frmvld">
        <form method="post" id="createForm">
            @if (!ViewData.ModelState.IsValid)
            {
                @* <div class="alert alert-danger" role="alert">
                            <div class="error-color">
                                <p class="span-break"><span asp-validation-for="@Model.firstName" class="label label-danger"></span></p>
                                <p class="span-break"><span asp-validation-for="@Model.lastName" class="label label-danger"></span></p>
                                <p class="span-break"><span asp-validation-for="@Model.dob" class="label label-danger"></span></p>
                            </div>
                        </div> *@

                <div class="bg-danger">
                    <div class="alert alert-danger" role="alert">
                        <br />
                        @Html.ValidationSummary(false, localizer["ErrorText"])
                    </div>
                </div>
            }

            <details class="mrgn-tp-lg section-color" open>
                <summary>
                    Basic Information
                </summary>
                <section class="center">
                    <fieldset>
                        <div class="row col-md-12">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="txtCOURT"><span class="field-name">Court</span></label>
                                    <select class="form-control" id="txtCOURT" name="txtCOURT" asp-for="@Model.txtCOURT" autocomplete="txtCOURT" data-rule-minlength="1" style="width:100%">
                                        <option value="">Select Court</option>
                                        <option value="ABCA">Court of Appeal of Alberta</option>
                                        <option value="BCCA">Court of Appeal for British Columbia</option>
                                        <option value="CMAC">Court Martial Appeal Court of Canada</option>
                                        <option value="FCA">Federal Court of Appeal</option>
                                        <option value="MBCA">Court of Appeal of Manitoba</option>
                                        <option value="NBCA">Court of Appeal of New Brunswick</option>
                                        <option value="NLCA">Court of Appeal of Newfoundland and Labrador</option>
                                        <option value="NSCA">Nova Scotia Court of Appeal</option>
                                        <option value="NUCA">Nunavut Court of Appeal</option>
                                        <option value="NWTCA">Court of Appeal of the Northwest Territories</option>
                                        <option value="ONCA">Court of Appeal for Ontario</option>
                                        <option value="PECA">Prince Edward Island Court of Appeal</option>
                                        <option value="QCCA">Court of Appeal of Quebec</option>
                                        <option value="SKCA">Court of Appeal for Saskatchewan</option>
                                        <option value="YKCA">Court of Appeal of Yukon</option>
                                    </select>
                                    <span asp-validation-for="@Model.txtCOURT" class="label label-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="intREPORTINGYEAR"><span class="field-name">Reporting Year</span></label>
                                    <select class="form-control" id="intREPORTINGYEAR" name="intREPORTINGYEAR" asp-for="@Model.intREPORTINGYEAR" autocomplete="intREPORTINGYEAR" data-rule-minlength="1" style="width:100%; height:52px;">
                                        <option value="">Select Year</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                    </select>
                                    <span asp-validation-for="@Model.intREPORTINGYEAR" class="label label-danger"></span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="dtFROM"><span class="field-name">Period From</span></label>
                                    <span data-tooltip="The start date of the period covered by the submission."><i class="fa-solid fa-circle-info"></i></span>
                                    <input class="form-control" id="dtFROM" name="dtFROM" type="date" asp-for="@Model.dtFROM" autocomplete="dtFROM" data-rule-minlength="1" style="width:100%">
                                    <span asp-validation-for="@Model.dtFROM" class="label label-danger"></span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="dtTO">
                                        <span class="field-name">Period To</span>
                                    </label>
                                    <span data-tooltip="The end date of the period covered by the submission."><i class="fa-solid fa-circle-info"></i></span>
                                    <input class="form-control" id="dtTO" name="dtTO" type="date" asp-for="@Model.dtTO" autocomplete="dtTO" data-rule-minlength="1" style="width:100%">
                                    <span asp-validation-for="@Model.dtTO" class="label label-danger"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </section>
            </details>

            <details class="mrgn-tp-lg section-color" open>
                <summary>
                    1. Civil Appeals
                </summary>
                <section class="center">
                    <fieldset>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD1_1_1"><span class="field-name">1.1.1 Civil appeals pending as of Dec 31 (prev. year) </span></label>
                                <span data-tooltip="Number of civil appeals, cross-appeals, references, and JRs filed but still pending as of December 31st of the previous year."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD1_1_1" name="txtFIELD1_1_1" type="number" asp-for="@Model.txtFIELD1_1_1" autocomplete="txtFIELD1_1_1" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD1_1_1" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD1_1_2"><span class="field-name">1.1.2 Civil appeals filed this year  </span></label>
                                <span data-tooltip="Number of civil appeals, cross-appeals, references, and JRs filed."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD1_1_2" name="txtFIELD1_1_2" type="number" asp-for="@Model.txtFIELD1_1_2" autocomplete="txtFIELD1_1_2" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD1_1_2" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD1_1_3"><span class="field-name">1.1.3 Civil appeals disposed of by judgment </span></label>
                                <span data-tooltip="Number of civil appeals, cross-appeals, references, and JRs disposed of by judgment."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD1_1_3" name="txtFIELD1_1_3" type="number" asp-for="@Model.txtFIELD1_1_3" autocomplete="txtFIELD1_1_3" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD1_1_3" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD1_1_4"><span class="field-name">1.1.4 Civil appeals disposed by registrar/rules </span></label>
                                <span data-tooltip="Number of civil appeals, cross-appeals, references, and JRs disposed of by the registrar, the case management officer or authorized personnel or by operation of the rules. The civil appeals, cross-appeals, references, and JRs disposed of by the registrar take into account the certificates of lapse of appeal issued by the registry."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD1_1_4" name="txtFIELD1_1_4" type="number" asp-for="@Model.txtFIELD1_1_4" autocomplete="txtFIELD1_1_4" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD1_1_4" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD1_1_5"><span class="field-name">1.1.5 Civil appeals settled in judicial mediation </span></label>
                                <span data-tooltip="Number of civil appeals, cross-appeals, references, and JRs settled by judicial mediation. To be included in this category, the settlement must have taken place at the time of judicial mediation and can include settlement, abandonment or withdrawal of the appeal at that time."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD1_1_5" name="txtFIELD1_1_5" type="number" asp-for="@Model.txtFIELD1_1_5" autocomplete="txtFIELD1_1_5" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD1_1_5" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD1_1_6"><span class="field-name">1.1.6 Civil appeals disposed by other means </span></label>
                                <span data-tooltip="Number of civil appeals, cross-appeals, references, and JRs disposed of by other means – These appeals, cross-appeals, references, and JRs are to include those that are abandoned, withdrawn, dismissed for want of prosecution, non-compliance with rules, dispositions by a single judge, etc. The civil appeals, cross-appeals, references, and JRs abandoned or withdrawn by the registrar take into account the certificates of lapse of appeal issued by the registry."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD1_1_6" name="txtFIELD1_1_6" type="number" asp-for="@Model.txtFIELD1_1_6" autocomplete="txtFIELD1_1_6" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD1_1_6" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD1_1_7"><span class="field-name">1.1.7 Total civil appeals for the year </span></label>
                                <span data-tooltip="Total number of civil appeals, cross-appeals, references, and JRs: Previous year civil appeals, cross-appeals, references and JRs filed but still pending as of December 31st of the previous year (1.1.1) plus new civil appeals, cross-appeals, references, and JRs filed (1.1.2) minus total number of civil appeals, cross-appeals, references, and JRs disposed of, settled by mediation, abandoned or withdrawn (1.1.3 to 1.1.6) = net civil appeals, cross-appeals, references, and JRs for the year."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD1_1_7" name="txtFIELD1_1_7" type="number" asp-for="@Model.txtFIELD1_1_7" autocomplete="txtFIELD1_1_7" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD1_1_3" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIED_1_Comments"><span class="field-name">Comments </span></label>
                                <textarea class="form-control" id="txtFIED_1_Comments" name="txtFIED_1_Comments" type="text" asp-for="@Model.txtFIED_1_Comments" autocomplete="txtFIED_1_Comments" data-rule-minlength="2" data-rule-maxlength="2000" style="width:100%" multiple="true" rows="4">
                                </textarea>
                                <span asp-validation-for="@Model.txtFIELD1_1_3" class="label label-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                </section>
            </details>

            <details class="mrgn-tp-lg section-color" open>
                <summary>
                    7. Self-Represented Litigants (SRL)
                </summary>
                <section class="center">
                    <fieldset>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD7_1_1"><span class="field-name">7.1.1 Appeals involving SRL at hearing</span></label>
                                <span data-tooltip="Number of appeals involving an SRL at the hearing."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD7_1_1" name="txtFIELD7_1_1" type="number" asp-for="@Model.txtFIELD7_1_1" autocomplete="txtFIELD7_1_1" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD7_1_1" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD7_1_2"><span class="field-name">7.1.2 Motions involving SRL at hearing</span></label>
                                <span data-tooltip="Number of motions and applications involving an SRL at the hearing of a motion or an application (by a single judge, a panel or the registrar). Motions and applications heard at the time of the hearing of an appeal are not to be included."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD7_1_2" name="txtFIELD7_1_2" type="number" asp-for="@Model.txtFIELD7_1_2" autocomplete="txtFIELD7_1_2" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD7_1_2" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD7_1_3"><span class="field-name">7.1.3 Total SRL cases at hearing</span></label>
                                <span data-tooltip="Total number of appeals, motions and applications involving an SRL at the hearing (7.1.1 and 7.1.2)."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD7_1_3" name="txtFIELD7_1_3" type="number" asp-for="@Model.txtFIELD7_1_3" autocomplete="txtFIELD7_1_3" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD7_1_3" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIED_7_Comments"><span class="field-name">Comments </span></label>
                                <textarea class="form-control" id="txtFIED_7_Comments" name="txtFIED_7_Comments" type="text" asp-for="@Model.txtFIED_7_Comments" autocomplete="txtFIED_7_Comments" data-rule-minlength="2" data-rule-maxlength="2000" style="width:100%" multiple="true" rows="4">
                            </textarea>
                                <span asp-validation-for="@Model.txtFIED_7_Comments" class="label label-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                </section>
            </details>

            <details class="mrgn-tp-lg section-color" open>
                <summary>
                    8. Decision Timeframes
                </summary>
                <section class="center">
                    <fieldset>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD8_1"><span class="field-name">8.1 Decisions rendered < 6 months </span></label>
                                <span data-tooltip="Less than 6 months – Number of decisions related to civil and criminal cases that are rendered in less than 6 months from the hearing date. The cases involving the Youth Criminal Justice Act are not to be tracked separately. They should be counted as any other decision rendered."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD8_1" name="txtFIELD8_1" type="number" asp-for="@Model.txtFIELD8_1" autocomplete="txtFIELD8_1" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD8_1" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD8_2"><span class="field-name">8.2 Decisions rendered 6-12 months</span></label>
                                <span data-tooltip="Between 6 to 12 months – Number of decisions related to civil and criminal cases that are rendered between 6 to 12 months from the hearing date. The cases involving the Youth Criminal Justice Act are not to be tracked separately. They should be counted as any other decision rendered."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD8_2" name="txtFIELD8_2" type="number" asp-for="@Model.txtFIELD8_2" autocomplete="txtFIELD8_2" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD8_2" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD8_3"><span class="field-name">8.3 Decisions rendered > 12 months</span></label>
                                <span data-tooltip="More than 12 months – Number of decisions related to civil and criminal cases that are rendered in more than 12 months from the hearing date. The cases involving the Youth Criminal Justice Act are not to be tracked separately. They should be counted as any other decision rendered."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD8_3" name="txtFIELD8_3" type="number" asp-for="@Model.txtFIELD8_3" autocomplete="txtFIELD8_3" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD8_3" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIED_7_Comments"><span class="field-name">Comments </span></label>
                                <textarea class="form-control" id="txtFIED_8_Comments" name="txtFIED_7_Comments" type="text" asp-for="@Model.txtFIED_8_Comments" autocomplete="txtFIED_8_Comments" data-rule-minlength="2" data-rule-maxlength="2000" style="width:100%" multiple="true" rows="4">
                            </textarea>
                                <span asp-validation-for="@Model.txtFIED_8_Comments" class="label label-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                </section>
            </details>

            <details class="mrgn-tp-lg section-color" open>
                <summary>
                    9. Panel Compositions
                </summary>
                <section class="center">
                    <fieldset>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD9_1"><span class="field-name">9.1 3-member panel hearings</span></label>
                                <span data-tooltip="3-member panel hearings – Number of appeals that are heard by a 3-member panel."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD9_1" name="txtFIELD9_1" type="number" asp-for="@Model.txtFIELD9_1" autocomplete="txtFIELD9_1" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD9_1" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD9_2"><span class="field-name">9.2 5-member panel hearings</span></label>
                                <span data-tooltip="5-member panel hearings – Number of appeals that are heard by a 5-member panel."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD9_2" name="txtFIELD9_2" type="number" asp-for="@Model.txtFIELD9_2" autocomplete="txtFIELD9_2" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD8_2" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIED_9_Comments"><span class="field-name">Comments </span></label>
                                <textarea class="form-control" id="txtFIED_9_Comments" name="txtFIED_9_Comments" type="text" asp-for="@Model.txtFIED_9_Comments" autocomplete="txtFIED_9_Comments" data-rule-minlength="2" data-rule-maxlength="2000" style="width:100%" multiple="true" rows="4">
                            </textarea>
                                <span asp-validation-for="@Model.txtFIED_9_Comments" class="label label-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                </section>
            </details>

            <details class="mrgn-tp-lg section-color" open>
                <summary>
                    10. Pending Cases
                </summary>
                <section class="center">
                    <fieldset>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD10_1"><span class="field-name">10.1 Appeals/reviews pending as of Dec 31</span></label>
                                <span data-tooltip="Number of appeals, cross-appeals, references, bail reviews and JRs that have not been finalized as of December 31st."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD10_1" name="txtFIELD10_1" type="number" asp-for="@Model.txtFIELD10_1" autocomplete="txtFIELD10_1" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD10_1" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIED_10_Comments"><span class="field-name">Comments </span></label>
                                <textarea class="form-control" id="txtFIED_10_Comments" name="txtFIED_10_Comments" type="text" asp-for="@Model.txtFIED_10_Comments" autocomplete="txtFIED_10_Comments" data-rule-minlength="2" data-rule-maxlength="2000" style="width:100%" multiple="true" rows="4">
                            </textarea>
                                <span asp-validation-for="@Model.txtFIED_10_Comments" class="label label-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                </section>
            </details>

            <details class="mrgn-tp-lg section-color" open>
                <summary>
                    11. Judges
                </summary>
                <section class="center">
                    <fieldset>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD11_1"><span class="field-name">11.1 Number of regular judges</span></label>
                                <span data-tooltip="Regular judges – Number of judges of the court as of December 31st that have not elected a supernumerary status and have regular judicial duties."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD11_1" name="txtFIELD11_1" type="number" asp-for="@Model.txtFIELD11_1" autocomplete="txtFIELD11_1" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD11_1" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIELD11_2"><span class="field-name">11.2 Number of supernumerary judges</span></label>
                                <span data-tooltip="Supernumerary judges – Number of judges of the court as of December 31st that hold office as supernumerary judges as per section 28 of the Judges Act."><i class="fa-solid fa-circle-info"></i></span>
                                <input class="form-control" id="txtFIELD11_2" name="txtFIELD11_2" type="number" asp-for="@Model.txtFIELD11_2" autocomplete="txtFIELD11_2" data-rule-minlength="1" style="width:100%">
                                <span asp-validation-for="@Model.txtFIELD11_2" class="label label-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <label for="txtFIED_11_Comments"><span class="field-name">Comments </span></label>
                                <textarea class="form-control" id="txtFIED_11_Comments" name="txtFIED_11_Comments" type="text" asp-for="@Model.txtFIED_11_Comments" autocomplete="txtFIED_11_Comments" data-rule-minlength="2" data-rule-maxlength="2000" style="width:100%" multiple="true" rows="4">
                            </textarea>
                                <span asp-validation-for="@Model.txtFIED_11_Comments" class="label label-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                </section>
            </details>

            <div>
                <button class="btn btn-primary" type="submit">@localizer["Review"]</button>
                <span>
                    <a class="btn btn-default" asp-page="./Select">@localizer["Back"]</a>
                </span>
            </div>
        </form>
    </div>
</section>
