@page
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<IndexModel> localizer
@inject IHtmlLocalizer<IndexModel> htmlLocalizer
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if(HttpContext.Request.Query["culture"] == "fr")
    {
        CultureInfo.CurrentCulture = new CultureInfo("fr");
        CultureInfo.CurrentUICulture = new CultureInfo("fr");
    }
    else if (HttpContext.Request.Query["culture"] == "en")
    {
        CultureInfo.CurrentCulture = new CultureInfo("en");
        CultureInfo.CurrentUICulture = new CultureInfo("en");
    }
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

<div class="text-center"><h1>CASes</h1></div>
<div>
    <table class="wb-tables table table-striped table-hover">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.casModels[0].Id)
                </th>
                <th>
                    @localizer["FirstName"]
                </th>
                <th>
                    @localizer["LastName"]
                </th>
                <th>
                    @localizer["dob"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model.casModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">@localizer["Edit"]</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">@localizer["Details"]</a> |
                            <a asp-page="./Index" asp-route-id="@item.Id" asp-page-handler="Delete">@localizer["Delete"]</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-page="./Create">@localizer["New"]</a>
</div>
