@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center"><h1>CASes</h1></div>
<div>
    <table class="wb-tables table table-striped table-hover">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.casModels[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.casModels[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.casModels[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.casModels[0].DateOfBirth)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model.casModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Index" asp-route-id="@item.Id" asp-page-handler="Delete">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-page="./Create">New</a>
</div>
